Servers/
.gradle/
.groovy/
.metadata/
.settings/
.classpath
.project
bin/
target/
classes/
LICENSE.txt
.springBeans
*~
~*
*.swp
*.swo
*.pyc
*.iml
*.eml
rebel.xml
.idea/
MANIFEST.MF
out/test/*
out/production/*
out/artifacts/*
resources-etermconf/
tags
.~lock.*
*.ipr
*.iws
build/
tracelogs/
leveldb/
lmdb/
gen-java/
node_modules/
gen-nodejs/
logs
log/
*.out
coinex/.ensime
