<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="com.coinport.coinex.LogFilter" />
        <target>System.out</target>
        <encoder>
            <pattern>%date{yyyy-MM-dd} %X{akkaTimestamp} %-5level %X{akkaSource}[%logger{0}] >>>> %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="com.coinport.coinex.LogFilter" />
        <File>log/coinex.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>log/coinex_%i.log.bak</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>100</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder charset="UTF-8">
            <pattern>%date{yyyy-MM-dd} %X{akkaTimestamp} %-5level[%-45thread] %-60X{akkaSource}[%-45logger{1}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- <appender name="FILE-BACKUP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/coinex.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>coinex-%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%date{yyyy-MM-dd} %X{akkaTimestamp} %-5level[%-45thread] %-60X{akkaSource}[%-45logger{1}] - %msg%n</pattern>
        </encoder>
    </appender> -->


    <logger name="akka" level="INFO"/>
    <root level="INFO">
        <!-- <appender-ref ref="CONSOLE"/> -->
        <appender-ref ref="FILE"/>
        <!-- <appender-ref ref="FILE-BACKUP"/> -->
    </root>
</configuration>
